<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="im.zhaojun.system.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="im.zhaojun.system.model.User">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="addr" jdbcType="VARCHAR" property="addr"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="dept_id" jdbcType="INTEGER" property="deptId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="ClearCode" jdbcType="VARCHAR" property="ClearCode"/>
    </resultMap>

    <sql id="Base_Column_List">
            user_id,
            username,
            name,
            password,
            salt,
            email,
            status,
            last_login_time,
            create_time,
            modify_time,
            active_code,
            dept_id,
            type,
            addr,
            phone,
            ClearCode
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from user
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="im.zhaojun.system.model.User"
            useGeneratedKeys="true">
        insert into user (username,name, password, salt,phone,addr,
                          email, status, last_login_time, active_code, dept_id,type,ClearCode)
        values (#{username,jdbcType=VARCHAR},#{name}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR},
                #{phone},#{addr},#{email,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{lastLoginTime,jdbcType=TIMESTAMP},
                #{activeCode,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER},#{type},#{ClearCode,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="im.zhaojun.system.model.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                addr = #{addr,jdbcType=VARCHAR},
            </if>
            <if test="ClearCode != null">
                ClearCode = #{ClearCode,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="im.zhaojun.system.model.User">
        update user
        set username        = #{username,jdbcType=VARCHAR},
            password        = #{password,jdbcType=VARCHAR},
            salt            = #{salt,jdbcType=VARCHAR},
            email           = #{email,jdbcType=VARCHAR},
            status          = #{status,jdbcType=CHAR},
            last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            dept_id         = #{deptId,jdbcType=INTEGER}
        where user_id = #{userId,jdbcType=INTEGER}
    </update>

    <select id="selectPermsByUserName" resultType="String" parameterType="String">
        select menu.perms
        from user,
             role,
             user_role,
             menu,
             role_menu
        where user.user_id = user_role.user_id
          and role.role_id = user_role.role_id
          and role.role_id = role_menu.role_id
          and menu.menu_id = role_menu.menu_id
          and user.username = #{username, jdbcType=VARCHAR}
    </select>

    <select id="selectRoleNameByUserName" resultType="String" parameterType="String">
        select role.role_name
        from user,
             role,
             user_role
        where user.user_id = user_role.user_id
          and role.role_id = user_role.role_id
          and user.username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="selectOneByUserName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where username=#{username,jdbcType=VARCHAR} limit 1
    </select>


    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>

    <update id="updateStatusByPrimaryKey">
        update user
        set status = #{status}
        where user_id = #{id}
    </update>

    <update id="updateLastLoginTimeByUsername">
        update user
        set last_login_time = current_timestamp
        where username = #{username}
    </update>

    <select id="countByUserName" resultType="java.lang.Integer">
        select count(*)
        from user
        where username = #{username}
    </select>

    <select id="countByUserNameNotIncludeUserId" resultType="java.lang.Integer">
        select count(*)
        from user
        where username = #{username}
          and user_id != #{userId}
    </select>

    <select id="selectRoleIdsByUserId" resultType="java.lang.Integer">
        select role_id
        from user_role
        where user_id = #{userId}
    </select>

    <select id="selectByActiveCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user where active_code = #{activeCode}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from user
    </select>

    <select id="selectOperatorPermsByUserName" resultType="String" parameterType="String">
        select operator.perms
        from user,
             role,
             user_role,
             operator,
             role_operator
        where user.user_id = user_role.user_id
          and role.role_id = user_role.role_id
          and role.role_id = role_operator.role_id
          and operator.operator_id = role_operator.operator_id
          and user.username = #{username, jdbcType=VARCHAR}
    </select>

    <update id="updatePasswordByUserId">
        update user
        set password = #{password},
            salt     = #{salt}
        where user_id = #{userId}
    </update>


    <select id="selectAllWithDept" resultType="map">
        select  * from userorderby  where 1=1
        <if test="name != null and name != ''">
            and name like "%"#{name}"%"
        </if>
        <if test="addr != null and addr != ''">
            and addr like "%"#{addr}"%"
        </if>
        <if test="deptId != null">
            and role_id  = #{deptId}
        </if>
        </select>
    <select id="selectOneWithDept" resultType="map">
        select u.user_id, u.name,
        (SELECT COUNT(*) FROM user where dept_id =  #{userId}) as erji,
        (SELECT COUNT(*) FROM equipment where userID = u.user_id) as shebei,
        (SELECT COUNT(*) FROM equipment where userID = u.user_id and electricStatus > 0) as zaixian,
        u.status,
        u.last_login_time,
        u.create_time,
        u.modify_time,
        u.active_code,
        u.dept_id,
        u.addr,
        u.phone
        from user as u where dept_id  = #{userId}

        <if test="name != null and name != ''">
            and u.name = #{name}
        </if>
        <if test="addr != null and addr != ''">
            and u.addr = #{addr}
        </if>
        <if test="phone != null and phone != ''">
            and u.phone = #{phone}
        </if>
    </select>
    <select id="selectSecondWithDept" resultType="im.zhaojun.system.model.User">
        select u.user_id,
               u.username,
               u.password,
               u.salt,
               u.email,
               u.status,
               u.last_login_time,
               u.create_time,
               u.modify_time,
               u.active_code,
               u.dept_id,
               u.addr,
               u.phone
        from user as u where dept_id >=1
    </select>
    <select id="getOneUser" resultType="java.util.Map">
        SELECT * from `user` u,user_role ur  where u.user_id = ur.user_id and (ur.role_id = 1 or ur.role_id = 2)
    </select>
    <select id="selectAdminOne" resultType="java.util.Map">
        select u.user_id, u.name from user as u
    </select>
    <select id="getByDeptID" resultType="java.util.Map">
select u.user_id,
               u.username,
               u.name,
               u.password,
               u.salt,
               u.email,
               u.status,
               u.last_login_time,
               u.create_time,
               u.modify_time,
               u.active_code,
               u.dept_id,
               u.addr,
               u.phone,
               ur.role_id
        from user as u,user_role ur where u.user_id = ur.user_id and  u.dept_id = #{deptID}
        order by ur.role_id,u.user_id
    </select>
    <select id="getByDeptIDAdmin" resultType="java.util.Map">

 select u.user_id,
               u.username,
               u.name,
               u.password,
               u.salt,
               u.email,
               u.status,
               u.last_login_time,
               u.create_time,
               u.modify_time,
               u.active_code,
               u.dept_id,
               u.addr,
               u.phone,
               ur.role_id
        from user as u,user_role ur where u.user_id = ur.user_id and  u.dept_id = 1
        order by ur.role_id,u.user_id
    </select>
    <select id="getByName" resultType="im.zhaojun.system.model.User">
        select  * from user where name = #{name}
    </select>
    <select id="getAdmin" resultType="java.util.Map">
        select  u.user_id,u.username from user u,user_role ur where u.user_id = ur.user_id and ur.role_id = 1
    </select>

    <update id="activeUserByUserId">
        update user
        set status = 1
        where user_id = #{userId}
    </update>
    <update id="updateDeptID">
        UPDATE user set dept_id = 1 where dept_id = #{userID}
    </update>


</mapper>